<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle12cDialect
		</property>

		<property name="hibernate.connection.driver_class">
			oracle.jdbc.OracleDriver
		</property>

		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@localhost:1521:orcl
		</property>

		<property name="hibernate.connection.username">
			sys as sysdba
		</property>

		<property name="hibernate.connection.password">
			Oracle_1
		</property>

		<!-- List of XML mapping files -->
		<mapping resource="News.hbm.xml"/>

	</session-factory>
</hibernate-configuration>